@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-1: black;
  --color-2: white;
  --color-3: #10a37f;
}

.app {
  height: 100svh;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-1);
}

.nav {
  width: 100%;
  min-height: 4em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-2);
}

.nav__list {
  list-style-type: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.nav__link {
  text-decoration: none;
  color: var(--color-1);
}

.nav__link:visited {
  color: var(--color-1);
}

.nav__link:active,
.nav__link:hover {
  text-decoration: underline;
}
