@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-1: rgb(245, 245, 247);
  --color-2: #1d1d1f;
  --color-3: #10a37f;
  --color-4: white;
  --font-1: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-1);
  color: var(--color-1);
  font-size: 18px;
}

.app {
  height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-4);
}

body {
  color: var(--color-2);
}

/* NavBar */

.nav {
  width: 100%;
  min-height: 5svh;
  background-color: var(--color-2);
}

.nav__list {
  list-style-type: none;
  gap: 2em;
}

.nav__link {
  text-decoration: none;
  color: var(--color-1);
}

.nav__link:visited {
  color: var(--color-1);
}

.nav__link:active,
.nav__link:hover {
  font-weight: 550;
  cursor: pointer;
}

/* Header */

.header__container {
  background-color: var(--color-4);
  background-image: url("/home/holodiscus/code/personal_projects/portfolio-site-v2/public/assets/forest-background.jpg");
  background-position: center;
  background-size: cover;
  padding: 8rem 0;
}

.header {
  width: clamp(320px, 80%, 1200px);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: var(--color-1);
  background-color: var(--color-2);
  border-radius: 5px;
}

.header__title {
  font-size: 3rem;
  font-weight: 750;
}

.header__content {
  width: 100%;
  flex-wrap: wrap;
  gap: 4rem;
  text-align: center;
}

.header__text {
  font-size: 1.5rem;
}

.header__button {
  height: 3em;
  padding: 0.25em 1em;
  width: clamp(240px, 40vw, 300px);
  background-color: var(--color-3);
  color: var(--color-1);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
}

.header__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* About */

.about-wrapper {
  background-color: var(--color-2);
  padding: 16rem 0 0 0;
}

.about__title {
  font-size: 3rem;
  text-align: center;
}

.about {
  padding: 0 1rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 16rem;
}

.about__image {
  max-width: 500px;
}

.about__text {
  max-width: 500px;
}

/* Projects */

.projects__subtitle {
  text-align: center;
}

.project__group {
  padding: 16rem 0;
  background-color: var(--color-2);
  gap: 16rem;
}

.projects__content {
  gap: 2rem;
}

.projects__title {
  font-size: 3rem;
}

.projects__subtitle {
  font-style: italic;
  letter-spacing: 2px;
}

.project {
  gap: 2rem;
}

.project__title {
  font-size: 1.5rem;
}

.project__image {
  width: clamp(280px, 100%, 700px);
}

.project__content {
  gap: 2em;
  text-align: center;
  line-height: 1.5;
  max-width: 520px;
  padding: 0 1rem;
}

/* Tech */

.tech-group {
  background-color: var(--color-2);
  color: var(--color-1);
  gap: 8rem;
  padding: 10rem 0;
}

.tech-group__title {
  font-size: 3rem;
  color: var(--color-3);
}

.tech-group__component-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  gap: 8rem;
}

.tech {
  text-align: center;
  max-width: 300px;
  line-height: 1.5;
  padding: 1rem;
}

/* Footer */

.footer-wrapper {
  background-color: var(--color-2);
}

.footer {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4em;
  padding: 4em;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-link:hover {
  opacity: 0.8;
}

/* Flex */

.flex__column--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex__row--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */

@media (min-width: 1000px) {
  .header__content {
    gap: 4rem;
    max-width: 700px;
  }
}

@media (min-width: 800px) {
  .tech-group__component-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header__title {
    font-size: 4rem;
  }

  .header__text {
    font-size: 2rem;
  }

  .about__content {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: 502px) {
  .footer__content {
    align-items: flex-start;
  }
}
